@mixin galleryImage{
    margin:  15px;
    border-radius: 18px; 
    display: grid;
    place-content: center;
    position: relative;
    z-index: 0;
    transition: all 0.4s ease;
    cursor: pointer;
    

}

.our-location{
    padding: 30px 0;
    background-image: url(../image/png/bg-pattern-dot.png);
    .popular-head{
        text-align: center;
        
        h2{
            text-transform: uppercase;
        }
        p{
            color: #333333;
        }

    }

}

.gallery{
    width: 100%;
    place-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,400px);
    text-align: center;

        .image{
            overflow: hidden;
        }

    .new-york{
        @extend %bgProperty;
        background-image: url(../image/jpg/york.jpg);
        grid-area: 1/1/2/2; 
        @include galleryImage();

        
    }
    .los-angeles{
        @extend %bgProperty;
        background-image: url(../image/jpg/bg-angrl.jpg);
        grid-area: 1/2/2/4;
        @include galleryImage();
                  

    }
    .san-fran{ 
        @extend %bgProperty;
        background-image: url(../image/jpg/san.jpg);
        grid-area: 2/1/2/3;
        @include galleryImage();

    }
    .miami{
        @extend %bgProperty;
        background-image: url(../image/jpg/miami.jpg);
        grid-area: 2/3/4/4;
        @include galleryImage();

    }

    h3{
        font-weight: 700;
        color: #fff;    
        padding-bottom: 0;

    }
    p{
        font-weight: 700;
        color: #fff;
    }
}
