.our-team{
    width: 100%;
    padding: 50px 0;
    background-image: url(../image/png/bg-pattern-dot.png);

    .team-head{
        text-align: center;

        h2{
            text-transform: uppercase;
            color: $blackText;
        }
        p{
            color: $textColor;
        }
    }
    .slide-team{
        .testimonal{
            padding: 30px 250px;
            margin: 0 auto;
            text-align: center;
            .image{
                width: 18%; 
                margin: 0 auto;

                img{
                    width: 100%;
                    border-radius: 50%;
                }
            }

            h4{
                font-weight: 700;
                color: $textColor;
                padding: 20px 0 0 0;
            }
            p{
                color: $blackText;
                padding: 10px 0;
            }
            .speech{
                color: $textColor;
                padding: 10px 0;
            }
        }
    }
    ul{
        justify-content: center;
        li{
            list-style-type: none;
            padding: 2px;

            a{
                color: $mainColor;
                font-size: 0.85rem;
            }
        }

    }
    

}

/*======custom-dots======*/

.slick-dots{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    li{

        button{
            background: none;
            border: none;
            cursor: pointer;
            padding: 5px;
            .fas{
                color: #ff385d9a;
            }
        }   
    }

}